In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('train.csv')
data2=pd.read_csv('train.csv')

In [3]:
data.shape

(38932, 5)

In [4]:
data.head(5)

,User_ID,Description,Browser_Used,Device_Used,Is_Response
0,id10326,The room was kind of clean but had a VERY stro...,Edge,Mobile,not happy
1,id10327,I stayed at the Crown Plaza April -- - April -...,Internet Explorer,Mobile,not happy
2,id10328,I booked this hotel through Hotwire at the low...,Mozilla,Tablet,not happy
3,id10329,Stayed here with husband and sons on the way t...,InternetExplorer,Desktop,happy
4,id10330,My girlfriends and I stayed here to celebrate ...,Edge,Tablet,not happy

In [5]:
data.tail(3)

,User_ID,Description,Browser_Used,Device_Used,Is_Response
38929,id49255,Traveling with friends for shopping and a show...,Firefox,Mobile,not happy
38930,id49256,The experience was just ok. We paid extra for ...,Chrome,Desktop,not happy
38931,id49257,The Westin is a wonderfully restored grande da...,Mozilla,Desktop,happy

In [6]:
data.sample(5)

,User_ID,Description,Browser_Used,Device_Used,Is_Response
3177,id13503,i stayed at this hotel in July during a heat w...,InternetExplorer,Desktop,happy
37650,id47976,Spent - days in NYC with girlfriends. This hot...,Firefox,Desktop,not happy
36721,id47047,I wasn't a big fan of Marriott hotels. In the ...,Firefox,Desktop,happy
26904,id37230,I stayed here and found this hotel to be very ...,InternetExplorer,Desktop,happy
8754,id19080,The Paramount Hotel and it's staff did an incr...,Edge,Tablet,happy

In [7]:
data.describe()

,User_ID,Description,Browser_Used,Device_Used,Is_Response
count,38932,38932,38932,38932,38932
unique,38932,38932,11,3,2
top,id16344,Arrived late off the plane (--.--pm) and got o...,Firefox,Desktop,happy
freq,1,1,7367,15026,26521

In [8]:
data.columns

Index(['User_ID', 'Description', 'Browser_Used', 'Device_Used', 'Is_Response'], dtype='object')

In [9]:
data2['Is_Response'].value_counts()

happy        26521
not happy    12411
Name: Is_Response, dtype: int64

In [10]:
data['Is_Response']=data2['Is_Response'].map({'happy':'baik','not happy':'buruk'})

In [11]:
data['Is_Response'].value_counts()

baik     26521
buruk    12411
Name: Is_Response, dtype: int64

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
X=data.Description
y=data.Is_Response

In [14]:
x_train, x_test, y_train, y_test = train_test_split(X,y,test_size=0.1, random_state=225)

In [15]:
print('Banyak data x_train :',len(x_train))
print('Banyak data x_test  :',len(x_test))
print('Banyak data y_train :',len(y_train))
print('Banyak data y_test  :',len(y_test))

Banyak data x_train : 35038
Banyak data x_test  : 3894
Banyak data y_train : 35038
Banyak data y_test  : 3894

In [18]:
import re
from bs4 import BeautifulSoup
from nltk.tokenize import WordPunctTokenizer


tok = WordPunctTokenizer()
pat1 = r'@[A-Za-z0-9_]+' #menghilangkat username jika twitter
pat2 = r'https?://[^ ]+' #menghilangkan situs website
combined_pat = r'|'.join((pat1, pat2)) #join pat1 dan pat 2
www_pat = r'www.[^ ]+' #menhilangkan situs website

#set_stopword yang di deskripsikan sendiri
#stopword_user = set(pd.read_csv('stopword_usr.txt', sep='\n', header=0).stopword)

In [16]:
import spacy
nlp = spacy.load('en_core_web_sm')
from spacy.lang.en.stop_words import STOP_WORDS

In [17]:
ind_stopword = pd.read_csv('stopword_usr.txt', sep='\n', header=None)
ind_stopword.values.tolist()
#ind_stopword

[['kemarin'], ['besok'], ['saya'], ['adalah']]

In [19]:
def proses_teks(teks):
    soup = BeautifulSoup(teks, 'lxml')
    souped = soup.get_text()
    try:
        teks = souped.decode("utf-8-sig").replace(u"\ufffd", "?")
    except:
        teks = souped
    teks_bersih= re.sub("[^a-zA-Z0-9]", " ",(re.sub(www_pat, '', re.sub(combined_pat, '', teks)).lower()))
    teks_bersih= ' '.join([word for word in teks_bersih.split() if word not in STOP_WORDS])
    return (" ".join([x for x in tok.tokenize(teks_bersih) if len(x) > 1])).strip()

In [20]:
teks='''hahaha apakah SAYA ingin pergi pada tanggal 15 bulan februari besok ? tidak karena
hari kemarin @twitter suka main https://www.twitter.com'''

In [21]:
proses_teks(teks)

'hahaha apakah saya ingin pergi pada tanggal 15 bulan februari besok tidak karena hari kemarin suka main'

In [22]:
x=[]
for teks in data.Description:
    x.append(proses_teks(teks))

In [23]:
clean_text=pd.DataFrame({'clean_text':x})

In [24]:
data=pd.concat([data,clean_text],axis=1)

In [25]:
data.head(5)

,User_ID,Description,Browser_Used,Device_Used,Is_Response,clean_text
0,id10326,The room was kind of clean but had a VERY stro...,Edge,Mobile,buruk,room kind clean strong smell dogs generally av...
1,id10327,I stayed at the Crown Plaza April -- - April -...,Internet Explorer,Mobile,buruk,stayed crown plaza april april staff friendly ...
2,id10328,I booked this hotel through Hotwire at the low...,Mozilla,Tablet,buruk,booked hotel hotwire lowest price find got des...
3,id10329,Stayed here with husband and sons on the way t...,InternetExplorer,Desktop,baik,stayed husband sons way alaska cruise loved ho...
4,id10330,My girlfriends and I stayed here to celebrate ...,Edge,Tablet,buruk,girlfriends stayed celebrate th birthdays plan...

In [26]:
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer, HashingVectorizer

In [27]:
cvec=CountVectorizer()
tvec=TfidfVectorizer()
hvec=HashingVectorizer()

In [28]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import BernoulliNB
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import ComplementNB
from sklearn.naive_bayes import CategoricalNB
from sklearn.svm import SVC

In [29]:
clf1 = RandomForestClassifier()
clf2 = LogisticRegression(solver='lbfgs', max_iter=400)
clf4 = SVC()
clf3 = BernoulliNB()
clf5 = CategoricalNB() 
clf6 = MultinomialNB()
clf7 = GaussianNB

In [30]:
from sklearn.pipeline import Pipeline

In [31]:
model= Pipeline([('vectorizer',tvec)
                 ,('classifier',clf7)])

In [32]:
model.fit(x_train,y_train)

TypeError: fit() missing 1 required positional argument: 'y'

In [81]:
hasil=model.predict(x_test)

In [61]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [82]:
confusion_matrix(hasil,y_test)

array([[2552,  807],
       [  19,  516]], dtype=int64)

In [83]:
accuracy_score(hasil,y_test)

0.7878787878787878

In [ ]:
#save model
#from joblib import dump, load
#dump(model,'sentiment_model.joblib')